/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial, sans-serif';
    line-height: 1.6;
    background-color: #0f0f0f;
    color: #08461e;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #0f0f0f;
    color: green;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: green;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styling */
main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #0f0f0f;
    border: 1px solid #073a12;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #053b07;
}

section p, section ul {
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #054613;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #053b07;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #0f0f0f;
    color: green;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0f0f0f;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0f0f0f;
    color: green;
    border-radius: 10px;
    position: fixed;
    width: calc(100% - 40px);
    bottom: 10px;
}

